In [111]:
import pandas as pd

In [112]:
df = pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [113]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [114]:
df = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df = df[df.Oldpeak<=(df.Oldpeak.mean()+3*df.Oldpeak.std())]
df3 = df[df.RestingBP<=(df.RestingBP.mean()+3*df.RestingBP.std())]

In [ ]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['ExerciseAngina'] = le.fit_transform(df['ExerciseAngina'])
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0

In [116]:
df = pd.get_dummies(df, drop_first=True)

In [89]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled, columns=df.columns)
scaled_df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up
0,0.244898,1.0,0.70,0.479270,0.0,0.788732,0.0,0.295455,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.428571,0.0,0.80,0.298507,0.0,0.676056,0.0,0.409091,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.183673,1.0,0.65,0.469320,0.0,0.267606,0.0,0.295455,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.408163,0.0,0.69,0.354892,0.0,0.338028,1.0,0.465909,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.530612,1.0,0.75,0.323383,0.0,0.436620,0.0,0.295455,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [117]:
x = scaled_df.drop(['HeartDisease'], axis="columns")
y = scaled_df.HeartDisease

In [118]:
import numpy as np
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [119]:
np.average(cross_val_score(LogisticRegression(), x, y))

0.8300011879306248

In [120]:
np.average(cross_val_score(SVC(), x, y))

0.8321394630553576

In [121]:
np.average(cross_val_score(RandomForestClassifier(), x, y))

0.8223568543597054

In [122]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
x_pca = pca.fit_transform(x)

In [123]:
pca.n_components_

10

In [124]:
np.average(cross_val_score(LogisticRegression(), x_pca, y))

0.8310940841054884

In [125]:
np.average(cross_val_score(SVC(), x_pca, y))

0.8321335234022333

In [126]:
np.average(cross_val_score(RandomForestClassifier(), x_pca, y))

0.7973509147065811